.paused .animated,
.paused .stage .animated {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.controls {
  background-color: rgba(0, 0, 0, 0.9);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  padding: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 900;
}

.btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.5em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
  }
}
