.paused .animated,
.paused .stage .animated {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.controls {
  background-color: rgba(0, 0, 0, 0.9);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  padding: 0.3em;
  position: fixed;
  width: 100%;
  z-index: 900;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  //border: 1px solid rgba(241, 241, 241, 0.5);
  //border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0.5em;
  //padding: 0.5em 0.5em 0.2em 0.6em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-color: #fff;
    outline: none;
  }
}