html,
body,
.titles {
  height: 100%;
}

html,
body {
  background-image: url("../img/repentless.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: auto;
}

.repentless {
  visibility: visible;
}

.stage {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.first-play .repentless {
  visibility: hidden;
}

.composition {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}