@import "normailize";
@import "layout";
@import "keyframes";

.titles {
  visibility: visible;
}

.stage {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.first-play .titles {
  visibility: hidden;
}
.first-play .content {
  display: block;
}
/*
.content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #626963;
  display: none;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  padding: 0.8em 1.1em;
  position: absolute;
  width: 100%;
}
.content a {
  text-decoration: underline;
}
.content header {
  color: #000;
  margin-bottom: 2em;
  text-align: center;
}
.content h1 {
  font-size: 2.8em;
  font-weight: 100;
  margin-bottom: 0.2em;
}
.content h2 {
  font-size: 1.4em;
  font-weight: 300;
}
.content p {
  line-height: 1.2;
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 1.2em;
}
.content .big-play-btn {
  border-color: rgba(31, 31, 31, 0.8);
  color: #000;
  display: block;
  font-size: 1.6em;
  margin: 0 auto;
}
.content .big-play-btn:hover,
.content .big-play-btn:focus {
  border-color: #000;
}
.content .big-btn-container {
  margin-top: 0.8em;
  text-align: center;
}
.content .big-btn-container i {
  font-size: 0.8em;
}
*/

/*
.copy {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  letter-spacing: 0.07em;
  position: relative;
  text-transform: uppercase;
  -webkit-text-size-adjust: none;
  z-index: 90;
}*/

.composition {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
/*
.role {
  display: block;
  font-family: georgia, times, serif;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}*/
/*
@media screen and (min-width: 520px) {
  .copy {
    font-size: 2em;
  }
}*/
.araya {
  -webkit-animation: opener 36.54s infinite;
  animation: opener 36.54s infinite;
}

.director {
  -webkit-animation: director 36.54s infinite;
  animation: director 36.54s infinite;
}

.bumper-01 {
  -webkit-animation: bumper01 36.54s infinite;
  animation: bumper01 36.54s infinite;
}

.photography {
  -webkit-animation: photography 36.54s infinite;
  animation: photography 36.54s infinite;
}

.twitter {
  -webkit-animation: twitter 36.54s infinite;
  animation: twitter 36.54s infinite;
}

.paused .animated,
.paused .stage .animated {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.controls {
  background-color: rgba(0, 0, 0, 0.9);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  padding: 0.3em;
  position: fixed;
  width: 100%;
  z-index: 900;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid rgba(241, 241, 241, 0.5);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8em;
  font-weight: 100;
  letter-spacing: 0.07em;
  padding: 0.2em 0.6em 0.1em 0.6em;
  text-transform: uppercase;
}
.btn:hover, .btn:focus {
  border-color: #fff;
  outline: none;
}
/*
.project-crud {
  color: #d8d3d2;
  display: inline-block;
  padding-top: 0.25em;
  position: absolute;
  right: 0.6em;
}
.project-crud a {
  color: #d8d3d2;
  display: inline-block;
  font-family: georgia, times, serif;
  font-size: 0.8rem;
  padding: 0 0.4em;
  text-transform: uppercase;
}*/
/*
.opener {
  background: #0c0c0a url("../img/opener-bg.jpg") repeat;
  background-size: cover;
  color: #d8d3d2;
}*/
/*
.opener .role {
  color: #9d9d9d;
}*/
.araya .composition {
  -webkit-animation: opener-comp 13s infinite ease alternate;
  animation: opener-comp 13s infinite ease alternate;
  -webkit-transform: translateX(-4%) scale(1.02);
  transform: translateX(-4%) scale(1.02);
  -webkit-mask: url("../img/tom-araya.png") top left/cover no-repeat;
  mask: url("../img/tom-araya.png") top left/cover no-repeat;
}
.araya .human {
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.araya .human {
  background: transparent url("../img/tom-araya.png") no-repeat;
  opacity: 0.9;
  background-size: cover;
}/*
.opener .town {
  -webkit-animation: opener-town 11s infinite linear alternate;
  animation: opener-town 11s infinite linear alternate;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/opener-blip.jpg"), url("../img/opener-town.png");
  background-size: 0, cover;
  opacity: 0.8;
}*//* .opener .copy {
  -webkit-animation: opener-copy 13s infinite ease alternate;
  animation: opener-copy 13s infinite ease alternate;
  top: 20%;
  -webkit-transform: translateX(29%) scale(0.9);
  transform: translateX(29%) scale(0.9);
  width: 100%;
}
*/
/*
.director {
  background: #dededd url("../img/director-bg.jpg") no-repeat;
  background-size: cover;
  color: #626963;
}*//*
.director .role {
  color: #3a3a3a;
}*/
.director a {
  color: #626963;
}
.director a:hover {
  color: #aa250f;
}/*
.director .copy {
  -webkit-animation: director-copy 17s 8s infinite linear alternate;
  animation: director-copy 17s 8s infinite linear alternate;
  left: 60vw;
  top: 48%;
  width: 100%;
}*/
/*
@media screen and (min-width: 1200px) {
  .director .copy {
    left: 50vw;
    top: 45%;
  }
}*/
.director .composition {
  -webkit-animation: director-comp 17s 8s infinite linear alternate;
  animation: director-comp 17s 8s infinite linear alternate;
  -webkit-mask: url("../img/kerry-king.png") top left/cover no-repeat;
  mask: url("../img/kerry-king.png") top left/cover no-repeat;
  max-width: 1100px;
}
.director .human
/*,
.director .trees,
.director .street */ {
  height: 100%;
  right: 0;
  position: absolute;
  width: 100%;
}
.director .human {
  opacity: 0.9;
  background: transparent url("../img/kerry-king.png") no-repeat;
  background-size: cover;
}
/*
.director .street,
.director .trees {
  background-size: cover;
*/

.director .street {
  -webkit-animation: director-street 18s 8s infinite linear alternate;
  animation: director-street 18s 8s infinite linear alternate;
  background: transparent url("../img/director-street.png") no-repeat -175px 0;
  opacity: 0.7;
}
.director .trees {
  -webkit-animation: director-trees 18s 8s infinite linear alternate;
  animation: director-trees 18s 8s infinite linear alternate;
  background: transparent url("../img/director-trees.png") no-repeat;
  opacity: 0.75;
}
.director .trees::before {
  -webkit-animation: director-blip 9s 8s infinite linear;
  animation: director-blip 9s 8s infinite linear;
  background: transparent url("../img/director-blip.png") no-repeat 0 -100px;
  content: "";
  display: block;
  height: 150%;
  opacity: 0;
  position: absolute;
  width: 150%;
}

/*
.bumper-01 {
  background: #0e0b06 url("../img/bumper-01-bg.png") repeat;
  background-size: cover;
}*/
.bumper-01 .composition {
  -webkit-animation: bumper-01-comp 21s 16s infinite ease alternate;
  animation: bumper-01-comp 21s 16s infinite ease alternate;
  -webkit-mask: url("../img/paul-bostaph.png") top left/cover no-repeat;
  mask: url("../img/paul-bostaph.png") top left/cover no-repeat;
}
.bumper-01 .composition,
.bumper-01 .human /*,
.bumper-01 .crud */
{
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.bumper-01 .human {
  background: transparent url("../img/paul-bostaph.png") no-repeat;
  opacity: 0.9;
  background-size: cover;
}/*
.bumper-01 .crud {
  -webkit-animation: bumper-01-crud 28s 16s infinite ease alternate;
  animation: bumper-01-crud 28s 16s infinite ease alternate;
  background: transparent url("../img/bumper-01-crud.png") no-repeat;
  background-size: cover;
  opacity: 0.45;
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}
*/

.photography {
  background-color: #07060c;
  background-size: cover;
  color: #d8d3d2;
}/*
.photography .role {
  color: #9d9d9d;
}*/
.photography a {
  color: #d8d3d2;
}
.photography a:hover {
  color: #ebd305;
}/*
.photography .copy {
  -webkit-animation: photography-copy 18s 19s infinite linear alternate;
  animation: photography-copy 18s 19s infinite linear alternate;
  right: 46vw;
  top: 65vh;
  text-align: right;
}*/
/*
.photography .background {
  background: #07060c url("../img/photography-bg.jpg") no-repeat;
  background-size: cover;
}
.photography .background,*/
.photography .composition,
.photography .human {
  height: 100%;
  position: absolute;
  width: 100%;
}/*
.photography .composition {
  -webkit-mask: url("../img/photography-mask.png") top left/cover no-repeat;
  mask: url("../img/photography-mask.png") top left/cover no-repeat;
}*/
.photography .human {
  -webkit-animation: photography-human 18s 19s infinite linear alternate;
  animation: photography-human 18s 19s infinite linear alternate;
  background: transparent url("../img/photography-human.png") no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.twitter {
  background-color: #d7d7da;
  color: #8a8989;
}
.twitter a {
  color: #616d59;
}
.twitter a:hover, .twitter a:focus {
  color: #d578ba;
  outline: none;
}/*
.twitter .copy {
  -webkit-animation: twitter-copy 14s 23s infinite linear alternate;
  animation: twitter-copy 14s 23s infinite linear alternate;
  opacity: 0;
  text-align: center;
  top: 40vh;
}*/
/*.twitter .sky,*/
.twitter .clouds,
.twitter .ground {
  height: 100%;
  position: absolute;
  width: 100%;
}/*
.twitter .sky {
  -webkit-animation: twitter-sky 16s 23s infinite linear alternate;
  animation: twitter-sky 16s 23s infinite linear alternate;
  background: transparent url("../img/twitter-sky.png") no-repeat center top;
  background-size: cover;
  max-height: 450px;
}
*/

.twitter .clouds {
  -webkit-animation: twitter-clouds 18s 23s infinite linear alternate;
  animation: twitter-clouds 18s 23s infinite linear alternate;
  background: transparent url("../img/twitter-clouds.png") no-repeat center top;
  background-size: 100%;
  opacity: 0.25;
  width: 200%;
}
.twitter .ground {
  -webkit-animation: twitter-ground 16s 23s infinite linear alternate;
  animation: twitter-ground 16s 23s infinite linear alternate;
  background: transparent url("../img/twitter-ground.png") no-repeat center bottom;
  background-size: cover;
  bottom: 0;
  max-height: 425px;
}
@media screen and (min-width: 1100px) {
  /*.twitter .sky {
    max-height: 600px;
  }*/
  .twitter .ground {
    bottom: -120px;
    max-height: 575px;
  }
}
