@-webkit-keyframes opener {
  0%, 22.9% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  23%, 100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes opener {
  0%, 22.9% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  23%, 100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


@-webkit-keyframes opener-copy {
  0%, 100% {
    opacity: 0;
  }

  4%, 96% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(48%) scale(1.06);
    transform: translateX(48%) scale(1.06);
  }
}

@keyframes opener-copy {
  0%, 100% {
    opacity: 0;
  }

  4%, 96% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(48%) scale(1.06);
    transform: translateX(48%) scale(1.06);
  }
}

@-webkit-keyframes opener-comp {
  40% {
    opacity: 1;
  }

  40.1%, 40.3%, 40.5% {
    opacity: 0.1;
  }

  40.2%, 40.4%, 40.6% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(7%) scale(1.08) skewY(2deg);
    transform: translateX(7%) scale(1.08) skewY(2deg);
  }
}

@keyframes opener-comp {
  40% {
    opacity: 1;
  }

  40.1%, 40.3%, 40.5% {
    opacity: 0.1;
  }

  40.2%, 40.4%, 40.6% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(7%) scale(1.08) skewY(2deg);
    transform: translateX(7%) scale(1.08) skewY(2deg);
  }
}

@-webkit-keyframes opener-town {
  0%, 40%, 41% {
    background-size: 0, cover;
  }

  40.1% {
    background-size: 120%, cover;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
  }
}

@keyframes opener-town {
  0%, 40%, 41% {
    background-size: 0, cover;
  }

  40.1% {
    background-size: 120%, cover;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
  }
}
