@keyframes final {
  0%, 70.9%, 100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  71%, 99.9% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes final {
  0%, 70.9%, 100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  71%, 99.9% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cover {
  100% {
    -webkit-transform: translate(-150px, -25px);
    transform: translate(-150px, -25px);
  }
}

@keyframes cover {
  100% {
    -webkit-transform: translate(-150px, -25px);
    transform: translate(-150px, -25px);
  }
}

@-webkit-keyframes band {
  100% {
    -webkit-transform: translateY(45px) scale(1.05);
    transform: translateY(45px) scale(1.05);
  }
}

@keyframes band {
  100% {
    -webkit-transform: translateY(45px) scale(1.05);
    transform: translateY(45px) scale(1.05);
  }
}


