.araya {
  -webkit-animation: opener 36.54s infinite;
  animation: opener 36.54s infinite;
}

.araya .composition {
  -webkit-animation: opener-comp 13s infinite ease alternate;
  animation: opener-comp 13s infinite ease alternate;
  -webkit-transform: translateX(-4%) scale(1.02);
  transform: translateX(-4%) scale(1.02);
  -webkit-mask: url("../img/tom-araya.png") top left/cover no-repeat;
  mask: url("../img/tom-araya.png") top left/cover no-repeat;
}
.araya .human {
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.araya .human {
  background: transparent url("../img/tom-araya.png") no-repeat;
  opacity: 0.9;
  background-size: cover;
}