.final {
  -webkit-animation: final 36.54s infinite;
  animation: final 36.54s infinite;

  .cover,
  .band {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .cover {
    -webkit-animation: cover 18s 23s infinite linear alternate;
    animation: cover 18s 23s infinite linear alternate;
    background: transparent url("../img/repentless.png") no-repeat center top;
    background-size: 100%;
    opacity: 0.25;
    width: 200%;
  }

  .band {
    -webkit-animation: band 16s 23s infinite linear alternate;
    animation: band 16s 23s infinite linear alternate;
    background: transparent url("../img/band.png") no-repeat center bottom;
    background-size: cover;
    bottom: 0;
    max-height: 425px;
  }
}