.final {
  -webkit-animation: twitter 36.54s infinite;
  animation: twitter 36.54s infinite;
}
/*
.final {
  background-color: #d7d7da;
  color: #8a8989;
}*/

.final .band {
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

.final .band {
  -webkit-animation: twitter-ground 16s 23s infinite linear alternate;
  animation: twitter-ground 16s 23s infinite linear alternate;
  background: transparent url("../img/band.png") no-repeat center bottom;
  background-size: cover;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  //max-height: 425px;
}