.holt {
  -webkit-animation: photography 36.54s infinite;
  animation: photography 36.54s infinite;
  //background-size: cover;

  .composition,
  .human {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .human {
    -webkit-animation: photography-human 18s 19s infinite linear alternate;
    animation: photography-human 18s 19s infinite linear alternate;
    background: transparent url("../img/gary-holt.png") no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
}